<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>관리자 대시보드</title>
    <link rel="stylesheet" href="../static/dashboard.css" />
  </head>
  <body>
    <div class="header-box">
      <h1>관리자 대시보드</h1>
    </div>
    <div class="container" id="drone-container">
      <!-- 여기에 드론 카드를 동적으로 추가 -->
    </div>
    <script src="../static/dashboard.js"></script>
  </body>
</html>
