<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/pathfinding" method="post">
        <label for="sname">출발지 : </label>
        <input type="text" id="sname" name="sname" required>
        <br>
        <label for="sname">목적지 : </label>
        <input type="text" id="dname" name="dname" required>
        <br>
        <button type="submit">제출</button>
    </form>
</body>
</html>